<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My MVC App</title>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="wrapper">
        <div class="title">
            Register
        </div>
        <form method="post" asp-controller="Register" asp-action="OneManArmyRegister">
            <div class="field">
                <input type="text" name="username" id="username" required>
                <label>Username</label>
            </div>
            <div class="field">
                <input type="text" name="email" required>
                <label>Email Address</label>
            </div>
            <div id="username-error" style="color: red;"></div>
            <div class="field">
                <input type="submit" value="Register" onclick="return validateUsername();">
            </div>
        </form>
    </div>

    <script>
        function validateUsername() {
            var username = document.getElementById("username").value;
            var usernameDiv = document.getElementById("username-error");

            if (username.length < 6) {
                usernameDiv.textContent = "Username should have a minimum of 6 characters";
                return false;
            } else {
                usernameDiv.textContent = "";
                return true;
            }
        }
    </script>
</body>
</html>

