<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My MVC App</title>
    <link rel="stylesheet" href="~/css/vouchers.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
<body>
    <div class="container">

        <div class="column__row">

            <div class="you-and-5">
                <img src="~/Assets/SVG/popular.svg" />

                <h1>You and 5</h1>

                <p>
                    Be joined by 5 of your best mates for the entire
                    weekend of The Expo and all we have to offer.
                </p>

                <span class="offer-price">FREE</span>

                <a class="select-btn" asp-area="" asp-controller="Register" asp-action="Register">SELECT</a>

            </div>

            <div class="early-bird">
                <h1>One Man Army</h1>

                <p>
                    There is no I in team, but there is an I in win.
                    You don't need a squad to take on this weekend.
                </p>

                <span class="offer-price">FREE</span>

                <a class="select-btn" asp-area="" asp-controller="Register" asp-action="RegisterOneManArmy">SELECT</a>

            </div>

            <div class="you-and-5__2">
                <img src="~/Assets/SVG/popular.svg" />

                <h1>You and 5</h1>

                <p>
                    Be joined by 5 of your best mates for the entire
                    weekend of The Expo and all we have to offer.
                </p>

                <span class="offer-price">FREE</span>

                <a class="select-btn" asp-area="" asp-controller="Register" asp-action="Register">SELECT</a>

            </div>

            <div class="weekend-xp">
                <h1>Weekend XP</h1>

                <p>
                    Spend your weekend with us learning from industry experts.
                </p>

                <span class="offer-price">FREE</span>

                <a class="select-btn" asp-area="" asp-controller="Register" asp-action="RegisterWeekend">SELECT</a>

            </div>

            <div class="you-and-5__1">
                <img src="~/Assets/SVG/popular.svg" />

                <h1>You and 5</h1>

                <p>
                    Be joined by 5 of your best mates for the entire
                    weekend of The Expo and all we have to offer.
                </p>

                <span class="offer-price">FREE</span>

                <a class="select-btn" asp-area="" asp-controller="Register" asp-action="Register">SELECT</a>

            </div>
        </div>
    </div>

    <script src="~/js/vouchers.js" asp-append-version="true"></script>
    <script>
        // Get the select button element by its ID
        var selectBtn = document.querySelectorAll('.select-btn');

        // Get the current date
        const currentDate = new Date();

        // Define the date after which the button should be inactive (30th October 2023)
        const inactiveDate = new Date('2023-11-05');

        // Compare the current date with the inactive date
        if (currentDate > inactiveDate) {
            // Loop through all select buttons and add the "inactive-btn" class to disable them
            selectBtn.forEach(function (button) {
                button.classList.add('inactive-btn');
            });
        }
    </script>
</body>
</html>

